tomli
dataclasses
chromadb
django
django-multiselectfield
elevenlabs
fastembed
jinja2
jira
jiraone
instructor
keyboard
langchain
langchain-community
langchain-core
langchain-ollama
langchain_openai
langchain_text_splitters
logfire
nest_asyncio
ollama
pdfplumber
sentence-transformers
transformers
xformers
bitsandbytes
accelerate
einops
pydantic
pydantic_ai
pydantic-ai-slim[google]
pydantic[email]
python-dotenv
genai-prices
uv