tomli
dataclasses
chromadb
django
elevenlabs
fastembed
instructor
keyboard
langchain
langchain-community
langchain-core
langchain-ollama
langchain_text_splitters
logfire
nest_asyncio
ollama
pdfplumber
sentence-transformers
transformers
xformers
bitsandbytes
accelerate
einops
unstructured
unstructured[all-docs]
pydantic
pydantic_ai
pydantic[email]
genai-prices
uv