accelerate
ag-ui-protocol
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyascii
anyio
argcomplete
asgiref
attrs
Authlib
backoff
bandit
bcrypt
beartype
beautifulsoup4
bitsandbytes
blis
bm25s
boltons
boto3
botocore
bracex
build
cachetools
catalogue
certifi
cffi
charset-normalizer
chromadb
click
click-option-group
cloudpathlib
cloudpickle
codeaudit
cohere
colorama
coloredlogs
confection
contourpy
cryptography
cycler
cyclopts
cymem
dataclasses
dataclasses-json
datamodel-code-generator
defusedxml
Deprecated
diskcache
distro
Django
django-multiselectfield
dnspython
docstring_parser
docutils
durationpy
effdet
einops
elastic-transport
elasticsearch
elevenlabs
email_validator
emoji
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
eval_type_backport
exceptiongroup
executing
face
fakeredis
fastavro
fastembed
fastmcp
filelock
filetype
fire
flatbuffers
fonttools
frozenlist
fsspec
genai-prices
glom
google-api-core
google-auth
google-cloud-vision
google-genai
googleapis-common-protos
greenlet
griffe
groq
grpcio
grpcio-status
h11
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
invoke
jaraco.classes
jaraco.context
jaraco.functools
Jinja2
jira
jiraone
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
json_schema_to_pydantic
keyboard
keyring
kiwisolver
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
llvmlite
logfire
logfire-api
loguru
lupa
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mcp
mdurl
mistralai
mmh3
mod_wsgi
more-itertools
mpmath
msoffcrypto-tool
multidict
murmurhash
mypy
mypy_extensions
narwhals
nest-asyncio
networkx
nexus-rpc
nltk
numba
numpy
oauthlib
olefile
ollama
omegaconf
onnx
onnxruntime
openai
openapi-pydantic
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-instrumentation
opentelemetry-instrumentation-threading
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
pandas
pathable
pathspec
pathvalidate
pdf2image
pdfminer.six
pdfplumber
peewee
pi_heif
pikepdf
pillow
platformdirs
posthog
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
py-key-value-aio
py-key-value-shared
py_rust_stemmers
pyasn1
pyasn1_modules
pybase64
pycocotools
pycparser
pydantic
pydantic-ai
pydantic-ai-slim
pydantic-evals
pydantic-graph
pydantic-settings
pydantic_core
pydocket
Pygments
PyJWT
pypandoc
pyparsing
pypdf
pypdfium2
pyperclip
PyPika
pyproject_hooks
pyreadline3
pysast
PyStemmer
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
python-oxmsg
python-pptx
pytz
pywin32
pywin32-ctypes
PyYAML
RapidFuzz
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rich-rst
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
sse-starlette
starlette
stevedore
sympy
temporalio
tenacity
termcolor
thinc
threadpoolctl
tiktoken
timm
tokenizers
tomli
torch
torchvision
tqdm
transformers
typer
typer-slim
types-protobuf
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
unstructured.pytesseract
unstructured_inference
urllib3
uuid_utils
uv
uvicorn
wasabi
watchfiles
wcmatch
wcwidth
weasel
webencodings
websocket-client
websockets
win32_setctime
wrapt
xformers
xlrd
xlsxwriter
xxhash
yarl
zipp
zstandard
