{% extends "base.html" %}

{% block headcontent %}
    <title>Indexer</title>
{% endblock %} 


{% block content %}

    <h1>Indexer App</h1>

    <div id="RAGSettingsDisplay">

        <div class="rowthreecolumns">
            <div class="column">
                Load document: <b> {{ loadDocument }} </b><br>
                Extract raw text:<b> {{ rawTextFromDocument }} </b><br>
                Create raw JSON:<b> {{ rawJSONfromText }} </b><br>
                Create final JSON:<b> {{ finalJSONfromRaw }} </b><br>
            </div>
            <div class="column">
                BM25s cut-off score:<b>  </b><br>
                Original BM25s query:<b>  </b><br>
                Prepared BM25s query:<b>  </b><br>
                Maximum BM25s records:<b>  </b><br>
                BM25s stop words:<b>  </b><br>
                BM25s stemmer:<b>  </b><br>
            </div>
            <div class="column">
                Process query after transform:<b>  </b><br>
                Compress query after transform:<b>  </b><br>
                Maximum number of RRF results:<b>  </b><br>
                Well-known test set:<b> {{ wellknownTestSet }} </b><br>
            </div>
        </div>
    </div>
    <hr class="custom-hr">

    <form action="{% url 'indexer:process' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Input files</h2></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% if filelist %}
                <ul>
                    {% for item in filelist %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            File: <input id="filename" type="text" size=100 name="filename" value="" />
        </fieldset>
        <input type="submit" class="submitbutton" value="Process">
    </form>

{% endblock %} 
