{% extends "base.html" %}

{% block headcontent %}
    <title>Indexer</title>
{% endblock %} 


{% block content %}

    <h1>Indexer App</h1>

    <div id="RAGSettingsDisplay">

        <div class="rowthreecolumns">
            <div class="column">
                Load document text: <b> {{ loadDocument }} </b><br>
                Strip whitespace: <b> {{ stripWhiteSpace }} </b><br>
                Convert to lower case: <b> {{ convertToLower }} </b><br>
                Convert UTF to ASCII: <b> {{ convertToASCII }} </b><br>
                Replace separators by single spaces: <b> {{ singleSpaces }} </b>
            </div>
            <div class="column">
                Extract raw records: <b> {{ rawTextFromDocument }} </b><br>
                Create final JSON: <b> {{ finalJSONfromRaw }} </b><br>
                Prepare BM25 corpus: <b> {{ prepareBM25corpus }} </b><br>
                Complete BM25 database: <b> {{ completeBM25database }} </b><br>
            </div>
            <div class="column">
                Create vector database: <b> {{ vectorizeFinalJSON }} </b><br>
                Create Jira database: <b> {{ JiraExport }} </b><br>
                LLM host: <b> {{ llmProvider }} </b><br>
                LLM version: <b> {{ llmVersion }} </b><br>
            </div>
        </div>
        <form action="{% url 'indexer:settings' %}" method="get">
            <input type="submit" class="submitbutton" value="Settings">
        </form>

    </div>
    <hr class="custom-hr">

    <form action="{% url 'indexer:process' %}" method="post">
        {% csrf_token %}
            
        {{ indexer }}
            
        <input type="submit" class="submitbutton" value="Process">
    </form>


    <script>
        
        function handleSelection() {

            try {
                val = document.querySelector('input[name="File Choices"]:checked').value;
                document.getElementById('id_inputFile').value = val
            } catch (error) {
               console.error(error.message);
            }


        }
    </script>

{% endblock %} 
