{% extends "base.html" %}

{% block headcontent %}

    <title>Processing query</title>

{% endblock %} 


{% block content %}

    <h1>Query App Results</h1>

   <div>
         <b>Query: </b> {{ query }}
   </div>

   <hr class="custom-hr">

   <a id="cost" href="">Potential cost of access to cloud-deployed LLMs</a>

   <hr class="custom-hr">

   <h3>Results</h3>
   <div id="results">
      {{ results }}
   </div>

   <script>
      window.setTimeout(getData, 5000);

      async function getData() {
         try {
            const response = await fetch("../status/", {
               headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest',
               },
            });
            if (!response.ok) {
               throw new Error(`Response status: ${response.status}`);
            }
            const result = await response.json();
            try {
               document.getElementById('stage').innerHTML = result["stage"]
            } catch (error) {
               console.error(error.message);
            }
            try {
               document.getElementById('status').innerHTML = ""
               for (const value of result["status"]) {
                  document.getElementById('status').innerHTML += "<br>" + value
               }
            } catch (error) {
               console.error(error.message);
            }
            try {
               document.getElementById('results').innerHTML = ""
               for (const value of result["results"]) {
                  document.getElementById('results').innerHTML += "<br>" + value
               }
            } catch (error) {
               console.error(error.message);
            }

            var anchorCost = document.getElementById('cost');
            anchorCost.href = '../../llmcosts?totalrequests=' + result["llmrequests"] + "&totalinputtokens=" + result["llminputtokens"] + "&totaloutputtokens=" + result["llmoutputtokens"];
            anchorCost.target = '_blank';

            const stages = ["error", "completed"]
            if (!stages.includes(result["stage"]))  {
               setTimeout(getData, 3000);
            }
         } catch (error) {
            console.error(error.message);
         }
      }
   </script>


{% endblock %} 
