{% extends "base.html" %}

{% block headcontent %}
    <title>CV Generator</title>
{% endblock %} 

{% block content %}

   <div class="bold-text">Activity log</div>
   <div id="status">
      {% if status %}
         <div>{{ status }}</div>
      {% endif %}
   </div>
   <hr class="custom-hr">

   <a id="cost" href="">Potential cost of access to cloud-deployed LLMs</a>
   <hr class="custom-hr">


   <div class="bold-text">Job Title</div>
   <div id="jobtitle">
      {% if jobtitle %}
        <div>{{ jobtitle }}</div>
      {% endif %}
   </div>
   <hr class="custom-hr">

   <div class="bold-text">Executive Summary</div>
   <div id="execsummary">
      {% if execsummary %}
         <div>{{ execsummary }}</div>
      {% endif %}
   </div>
   <hr class="custom-hr">

   <table>
      <tr>
         <th>Extracted Activities</th>
         <th>Mapped Activities</th>
      </tr>
     <tr>
      <td>
         <ol id="extracted">
            {% if extracted %}
               {% for item in extracted %}
                  <li>{{ item }}</li>
               {% endfor %}
            {% endif %}
         </ol>
      </td>
      <td>
         <ol id="mapped">
            {% if mapped %}
               {% for item in mapped %}
                  <li>{{ item }}</li>
               {% endfor %}
            {% endif %}
         </ol>
      </td>
     </tr>
   </table>
   <hr class="custom-hr">

   <div class="bold-text">Experience</div>
   <ul id="projects">
      {% if projects %}
         {% for item in projects %}
            <li>{{ item }}</li>
         {% endfor %}
      {% endif %}
   </ul>
   <hr class="custom-hr">

   <script>
      window.setTimeout(getData, 3000);

      async function getData() {
         try {
            const response = await fetch("../status/", {
               headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest',
               },
            });
            if (!response.ok) {
               throw new Error(`Response status: ${response.status}`);
            }
            const result = await response.json();
            try {
               document.getElementById('stage').innerHTML = result["stage"]
            } catch (error) {
               console.error(error.message);
            }
            try {
               document.getElementById('status').innerHTML = ""
               for (const value of result["status"]) {
                  document.getElementById('status').innerHTML += "<br>" + value
               }
            } catch (error) {
               console.error(error.message);
            }
            if ('jobtitle' in result) {
               document.getElementById('jobtitle').innerHTML = 
                  "<div>" + result['jobtitle'] + "</div>"
            }

            if ('execsummary' in result) {
               document.getElementById('execsummary').innerHTML = 
                  "<div>" + result['execsummary'] + "</div>"
            }

            if ('extracted' in result) {
               document.getElementById('extracted').innerHTML = ""
               for (const value of result["extracted"]) {
                  document.getElementById('extracted').innerHTML += "<li>" + value + "</li>"
               }
            }

            if ('mapped' in result) {
               document.getElementById('mapped').innerHTML = ""
               for (const value of result["mapped"]) {
                  if (value.includes('--- ')) {
                     document.getElementById('mapped').innerHTML += "<li style='color: red;'>" + value + "</li>"
                  } else {
                     document.getElementById('mapped').innerHTML += "<li>" + value + "</li>"
                  }
               }
            }

            if ('projects' in result) {
               document.getElementById('projects').innerHTML = ""
               for (const value of result["projects"]) {
                  document.getElementById('projects').innerHTML += "<li>" + value + "</li>"
               }
            }

            var anchorCost = document.getElementById('cost');
            anchorCost.href = '../results?totalrequests=' + result["llmrequests"] + "&totalinputtokens=" + result["llminputtokens"] + "&totaloutputtokens=" + result["llmoutputtokens"];
            anchorCost.target = '_blank';

            const stages = ["error", "completed"]
            if (!stages.includes(result["stage"]))  {
               setTimeout(getData, 3000);
            }
         } catch (error) {
            console.error(error.message);
         }
      }
   </script>

{% endblock %} 
